
<div class="form_search">
  <%= form_tag({:action => :searchbookmarks} ,:method=>"get") do %>
      <%= label_tag(:target, "Search Field:") %>
      <% ['origin', 'folder', 'url', 'name' ].each do |target| %>
          <%= radio_button_tag 'target', target, @target == target,:checked => 'checked' %>
      <%= target.humanize %>
      <% end %>
      </br>
      <%= label_tag(:searchform, "Search for string:") %>
      <%= text_field_tag(:search_string) %>
      <%=  submit_tag ( 'Search') %>
  <% end %>
  </div>