</head>
<div data-role="header">

<p><%=if $name
         $name.capitalize
       end
%> Bookmarks </p>

<p>Logged in through <%=if $provider
                           $provider.capitalize end %></p>


<% if @search_string and @search_target then %>
    <p>  <%= "Search results of searching field:#{@search_target} with string:#{@search_string}" %> </p>
   <% end %>
<% if @sort_field and @sort_order then %>
    <p>  <%= "Sort results of sorting #{@sort_field} field with #{@sort_order}ending order" %> </p>
<% end %>
<!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">
  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="a">



  <li>
  <div data-role="button" data-inline="true" data-theme='c'>
  <p><%= link_to 'Search', searchform_path %> </p>
  </div>
  <div data-role="button" data-inline="true" data-theme='c'>
  <p><%= link_to 'Sort', sortform_path %> </p>
  </div>
  <div data-role="button" data-inline="true" data-theme='c'>
  <p><%= link_to 'Create', new_bookmark_path %> </p>
  </div>
  <div data-role="button" data-inline="false" data-theme='c'>
  <p><%= link_to 'List All', bookmarks_path %> </p>
  </div>
  <div data-role="button" data-inline="true" data-theme='c'>
  <p><%= link_to 'Validate All', check_urls_path %> </p>
  </div>

  <div data-role="button" data-inline="true" data-theme='e'>
  <p><%= link_to 'Destroy All', destroy_all_path, data: { confirm: 'Are you sure?' } %> </p> <br />
  </div>



  <div data-role="button" data-inline="false" data-theme='c'>
  <p><%= link_to 'Create Bookmarks from sample HTML file ', from_html_file_path %> </p>
  </div>
  <div data-role="button" data-inline="false" data-theme='c'>
  <p><%= link_to 'Save Bookmarks database to HTML file ', to_html_file_path %> </p>
  </div>

   </li>
                                                                                                                        <br/>
  <% @bookmarks.each do |bookmark| %>
  <li>

    <div data-role="button" data-inline="true" data-theme='c'>
    <%= link_to 'Show', bookmark %>
    </div>
    <div data-role="button" data-inline="true" data-theme='c'>
    <%= link_to 'Edit', edit_bookmark_path(bookmark) %>
    </div>
    <div data-role="button" data-inline="true" data-theme='c'>
    <%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>


    <h2><a href=<%= bookmark.url%> > <%=bookmark.url%> </a> <br /></h2>



<% end %>
    </li>
  </ul>

  <!-- end .content --></div>


