</head>
<div data-role="header">

<h1><%=if $name
         $name.capitalize
       end
%> Bookmarks </h1>

<p>Logged in through <%=if $provider
                           $provider.capitalize end %></p>


<% if @search_string and @search_target then %>
    <p>  <%= "Search results of searching field:#{@search_target} with string:#{@search_string}" %> </p>
   <% end %>
<% if @sort_field and @sort_order then %>
    <p>  <%= "Sort results of sorting #{@sort_field} field with #{@sort_order}ending order" %> </p>
<% end %>
<!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">
  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="a">



  <li>
  <p><%= link_to 'Search Bookmarks', searchform_path %> </p>
  <p><%= link_to 'Sort Bookmarks', sortform_path %> </p>
  <p><%= link_to 'Create New Bookmark ', new_bookmark_path %> </p>
  <p><%= link_to 'Check and validate all Bookmarks via internet', check_urls_path %> </p>
  <p><%= link_to 'Create Bookmarks from HTML file ', from_html_file_path %> </p>
  <p><%= link_to 'Save Bookmarks database to HTML file ', to_html_file_path %> </p>
  <p><%= link_to 'Destroy all Bookmarks from database  ', destroy_all_path, data: { confirm: 'Are you sure?' } %> </p>                                             <br />


  <p><%= link_to 'Back to list all Bookmarks', bookmarks_path %> </p>

   </li>
                                                                                                                        <br/>
  <% @bookmarks.each do |bookmark| %>
  <li>

    <div data-role="button" data-inline="true" data-theme='c'>
    <%= link_to 'Show', bookmark %>
    </div>
    <div data-role="button" data-inline="true" data-theme='c'>
    <%= link_to 'Edit', edit_bookmark_path(bookmark) %>
    </div>
    <div data-role="button" data-inline="true" data-theme='c'>
    <%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>


    <h2><a href=<%= bookmark.url%> > <%=bookmark.url%> </a> <br /></h2>



<% end %>
    </li>
  </ul>

  <!-- end .content --></div>


