</head>
<div data-role="header">

<p><%=if $name
         $name.capitalize
       end
%> Bookmarks </p>

<p>Logged in through <%=if $provider
                           $provider.capitalize end %></p>


<% if @search_string and @search_target then %>
    <p>  <%= "Search results of searching field:#{@search_target} with string:#{@search_string}" %> </p>
   <% end %>
<% if @sort_field and @sort_order then %>
    <p>  <%= "Sort results of sorting #{@sort_field} field with #{@sort_order}ending order" %> </p>
<% end %>
  <%= link_to 'Logout', logout_path, {"data-icon" =>"back", "class" => "ui-btn-right"} %>

  <div data-role="navbar" data-iconpos="top" >

    <ul>

      <li><%= link_to 'Validate All', check_urls_path, "data-icon"=>"check" %> </li>

      <li><%= link_to 'Delete All', destroy_all_path, "data-icon"=>"delete", data: { confirm: 'Are you sure?' } %> </li>
    </ul>
    <ul>

      <li><%= link_to 'Create Bookmarks from sample HTML file ', from_html_file_path, "data-icon"=>"arrow-u" %> </li>

      <li><%= link_to 'Save Bookmarks database to HTML file ', to_html_file_path, "data-icon"=>"arrow-d" %> </li>

    </ul>

  </div>


<!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">


  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="e">

                                                                                                                        <br/>
  <% @bookmarks.each do |bookmark| %>


     <li><%= link_to bookmark.name, bookmark %> </li>
     <li><%= link_to bookmark.url, bookmark.url %> </li>

     <div data-role="navbar"  data-inset="true">

       <ul>
     <li><%= link_to 'Edit', edit_bookmark_path(bookmark) %> </li>
     <li><%= link_to 'Delete', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></li>
       </ul>

     </div>
<% end %>
  </ul>


  <!-- end .content --></div>


