

<div data-role="header">



  <h4> Show Bookmark</h4>
  <%= link_to 'Back', bookmarks_path, {"data-icon" =>"back", "data-ajax" =>"false", "class" => "ui-btn-left"} %>


  <div data-role="navbar" data-iconpos="top" >

    <ul>



      <li><%= link_to 'Edit', edit_bookmark_path(@bookmark) %> </li>
      <li><%= link_to 'Delete', @bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></li>


    </ul>


  </div>

  <p id="notice"><%= notice %></p>

  <!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">
  <ul  data-inset="true" data-theme="a">






<p>
  <b>Name:</b>
  <%= @bookmark.name %>
</p>
<p>
  <b>File Folder:</b>
  <%= @bookmark.folder %>
</p>

<p>
  <b>Origin/Tag:</b>
  <%= @bookmark.origin %>
</p>

<p>
  <b>Date created:</b>
  <%= @bookmark.create_date %>
</p>

<p>
  <b>Date visited:</b>
  <%= @bookmark.visited_date %>
</p>

<p>
  <b>Date modified:</b>
  <%= @bookmark.modified_date %>
</p>

<p>
  <b>Url:</b>
  <a href=<%= @bookmark.url%> > <%=@bookmark.url%> </a>
</p>


  </ul>
  <!-- end .content --></div>