

<div data-role="header">


  <h1><%=if $name
           $name.capitalize
         end
  %> Show Bookmark</h1>
  <%= link_to 'Back', bookmarks_path, {"data-icon" =>"back", "class" => "ui-btn-left"} %>
  <%= link_to  'Edit', edit_bookmark_path(@bookmark), {"data-icon" =>"star", "class" => "ui-btn-right"} %>

  <!-- end .header --></div>

<div data-role="content">
  <ul data-role="listview"  data-inset="true" data-theme="a">



<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @bookmark.name %>
</p>
<p>
  <b>Folders:</b>
  <%= @bookmark.folder %>
</p>

<p>
  <b>Original Source:</b>
  <%= @bookmark.origin %>
</p>

<p>
  <b>Date created:</b>
  <%= @bookmark.create_date %>
</p>

<p>
  <b>Date visited:</b>
  <%= @bookmark.visited_date %>
</p>

<p>
  <b>Date modified:</b>
  <%= @bookmark.modified_date %>
</p>

<p>
  <b>Url:</b>
  <a href=<%= @bookmark.url%> > <%=@bookmark.url%> </a>
</p>


<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |



  </ul>
  <!-- end .content --></div>